*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(32, 35, 41);
  color: rgb(158, 158, 158);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
.header {
  background-color: white;
  font-weight: bold;
}
.header a {
  color: rgb(51, 51, 51);
}

.header ul {
  margin: 0px;
}

.hero {
  padding: 20px;
  background-color: white;
  color: rgb(32, 35, 41);
  font-size: 4.2em;
  text-align: center;
}
.charset {
  background-color: #24282f;
}
.character {
  display: flex;
  background-color: #3c3e44;
  color: white;
  margin: 10%;
}
.character h3 {
  color: #9d9d9d;
}

.charinfo {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}
